build --remote_cache=grpcs://cas-evaan2001.build-faster.nativelink.net
build --remote_header=x-nativelink-api-key=005e67f10f7e067afaa541d3e31ddad961b19de6e60e57c638156d493e4606d6
build --bes_backend=grpcs://bes-evaan2001.build-faster.nativelink.net
build --bes_header=x-nativelink-api-key=005e67f10f7e067afaa541d3e31ddad961b19de6e60e57c638156d493e4606d6
build --bes_results_url=https://app.nativelink.com/a/7cc8215e-cb6b-4863-ac77-eedb4d9aca81/build
build --remote_timeout=600

# Enable remote execution
build --remote_executor=grpcs://scheduler-evaan2001.build-faster.nativelink.net:443
# build --remote_default_exec_properties="container-image=docker://docker.io/library/python:3.13"
build --remote_default_exec_properties="container-image=docker://docker.io/evaanahmed2001/python-bazel-env:amd64-v2"
# build --remote_default_exec_properties="container-image=docker://docker.io/evaanahmed2001/python-bazel-env:amd64-simple"
# build --remote_default_exec_properties="container-image=docker://docker.io/evaanahmed2001/python-bazel-env:v1"

# Always show all test output
test --test_output=all
# See tests whose specified size is too big
test --test_verbose_timeout_warnings
# Overirde the default timeout 300s for tests
# test --test_timeout=20000

# Performance Optimization
build --remote_download_minimal
